[flake8]
inline-quotes = double
import-order-style = google
application-import-names = about, calculate, core, orders, users
extend-ignore = FNE003
max-line-length = 90

exclude =
    */migrations/,
    venv/,
    env/,
    .git,
    __pycache__